.form-input-group{
    label {
        font-size: 14px;
        // color: #6b7280;
    }
    .form-input{
        box-sizing: border-box;
        outline: none !important;
        color: black !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: black;
    }
}
